// beliani palette

$happy-red: #ff2f00;
$cozy-brown: #750000;
$soft-peach: #ffccb7;
$warm-yellow: #fd9000;
$calm-grey: #dbd9d7;

$dawn-grey: #332524;
$urban-grey: #e8e8e8;
$subtle-peach: #f6e7e6;
$midnight-black: #000000;
$honest-white: #ffffff;

$light-peach: #ffe0d4;
$background-grey: #f5f5f5;
$medium-grey: #cccccc;
$availability-green: #0a750e;
$dark-grey: #737373;
$placeholder: #a1a1a1;
